.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px -10px #000000; 
    box-shadow: 0px 0px 15px -10px #000000;
}
.input{
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 18px;
    font-weight: 400;
}
.loginBtn{
    width: 75px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
    color: #FFF;
    background-color: rgb(32, 44, 214);
    cursor: pointer;
}